<html>
<head>
	<title>Potin <%= id %></title>
</head>

<body>
	<h1>Voici le potin n°<%= id %></h1>
	<p>Auteur: <%= gossip.author %></p>
	<p>Contenu: <%= gossip.content %></p>
	<p><a href="/">Revenir au menu</a></p>
	<p><a href="/gossips/<%= id %>/edit/">Edit</a></p>
</body>

</html>